<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <!-- include style sheet-->
    <link rel="stylesheet" href="MainPageStyles.css">
    <!-- Include Vue.js library -->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <title>Lesson booking</title>

</head>

<body>

    <h1>Lesson booking system!</h1>


    <div id="list-of-lessons">
        <!-- shopping cart button  -->
        <header>
            <button id="shoppingCart" v-on:click="showCheckout">
                Shopping cart:
                {{itemsInCart}}
            </button>
        </header>

        <div v-if="show">

            <main>
                <!-- Container for all the lessons including buttons to add to cart  -->
                <div v-for="subject in allLessons" id="subject-box">
                    <div class="box">
                        <img v-bind:src="subject.image">
                        <p id="lessonName" v-text="subject.lessonName"></p>
                        <p v-text="subject.lessonLocation"></p>
                        <p>Price: £{{subject.lessonPrice}}</p>
                        <p v-if="subject.lessonSpaces === 0"> All out!</p>
                        <p v-else-if="subject.lessonSpaces < 5">Only {{subject.lessonSpaces}}</p>
                        <p v-else>Spaces available: {{subject.lessonSpaces}}</p>
                        <button id="addToCartButton" v-if="canAddInCart(subject)"
                            v-on:click="addItemToCart(subject)">Add to
                            Cart</button>
                        <button id="addToCartDisabled" v-else disabled> out of spaces</button>
                    </div>
                </div>

            </main>

        </div>
        <!-- This is the checkout page  -->
        <div v-else id="checkoutPage">
            <h1 id="checkouth1"> Welcome to checkout page </h1>
            <!-- Container for each lesson added  -->
            <div v-for="item in cart" id="cartContainer">
                {{item.name}} - {{item.location}} - Price: £{{item.price}}
                <button @click="removeFromCart(item)" id="removeFromCart">Remove</button>
            </div>
        </div>
    </div>


    </div>


    </div>

    <script src="lessons.js"></script>
    <script src="app.js"></script>

</body>

</html>